html
	head
		title Dogstagram
		link(rel="stylesheet" type="text/css" href="/css/pico.min.css")
		link(rel="stylesheet" type="text/css" href="/css/main.css")
	body(class="container-fluid")
		header 
			nav
				ul
					li 
						strong Dogstagram
				ul
					li
						a(href="#") Friends
					li
						a(href="#") Profile
					li
						a(href="#", role="button") Login

		main(class="container")
			each post in posts
				article
					header= post.title
					div(class="container")
						img(src=post.image, alt="A Good Dog", class="centered")
						div= post.body
					footer= post.date
		footer Bringing you the nicest dogs